@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.post {
    max-height: 800px;
    max-width: 1000px;
    border-radius: 15px;
    overflow: hidden;
   /* background-image: url('images/display.jpg');*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(5px);
    z-index: 2;
}

img.background {
    position: absolute;
   /* background-image: url('images/display.jpg');*/
    width: 100%;
    height: auto;
    left: 0;
    opacity: 20%;
    z-index: -1;
}

.image-section {
    flex: 1;
}

.icon-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.text-section {
    flex: 1;
    /*background-image: url('images/display.jpg');*/
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-section p {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.text-section a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-top: auto;
}

@media screen and (max-width: 640px){

    img.bg {

        left: 50%;

        margin-left: -320px;

    }
}